[submodule "dep/HyperLogLog"]
	path = dep/HyperLogLog
	url = https://github.com/arashbm/HyperLogLog.git
[submodule "dep/disjoint_set"]
	path = dep/disjoint_set
	url = https://github.com/arashbm/disjoint_set.git
