name: Lint
on: [push, pull_request]

jobs:
  lint:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - uses: actions/setup-python@v2
      with:
        python-version: '3.x'
        architecture: 'x64'
    - name: upgrade pip
      run: pip install --upgrade pip
    - name: install cpplint
      run: pip install cpplint==1.5.5
    - name: run cpplint
      run: cpplint
        --extensions=tpp,cpp,hpp
        --quiet --recursive .
